$background-color: rgb(208, 255, 208);

$needsFood: red;

$noFood: green;

$btn-bg-color: white;

$btn-bg-hover: black;

$btn-border: 2px solid black;

$title-border-10: 10px dotted rgb(208, 255, 208);
$title-border-15: 15px dotted rgb(208, 255, 208);
$title-border-20: 20px dotted rgb(208, 255, 208);

$text-color: black;

$container-shadow: 0 0 10px rgb(199, 199, 199);

$btn-feed-border: 1px solid rgb(86, 239, 91);



$my-pop-color: #E4337A;

$image-shadow: 0px 0px 200px #787878;

$underline-styling: 2px solid #E4337A;

$cv-shadow: 0 0 8px rgba(242, 242, 242, 0.73);
