@use './../../styling/colors' as c;
@use './../../styling/variables' as v;
@use './../../styling/breakpoints' as b;
@use './../../styling/mixins' as m;
@use './../../styling/fonts' as f;

.menu{
    margin-right: 20px;
    margin-bottom: 30px;

    @include b.medium{
        margin-right: 50px;
        margin-bottom: 30px;
    }

    &__nav-container{
        display: flex;
        justify-content: end;
    }

    &__navbar{
        list-style: none;
        margin-top: 1rem;
    }

    &__link{
        text-decoration: none;
        color: c.$text-color;
        font-size: 16px;
        border: c.$btn-border;
        padding: 10px 20px;
        border-radius: 30px;
        transition: all ease 0.4s;

        @include b.small{
            font-size: 18px;
        }

        @include b.medium{
            font-size: 20px;
        }
    }

    &__link:hover{
        background-color: c.$btn-bg-hover;
        color: c.$background-color;
    }
}
